* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
/* header {
  margin: 10px;
  padding: 5px;
  border-bottom: 1px solid;
} */
main {
  padding: 16px;
}
h1 {
  margin-bottom: 16px;
}
h2 {
  margin: 16px 0;
}
img {
  height: 200px;
  margin-top: 16px;
}
nav {
  padding: 16px;
  border-bottom: 1px solid black;
}
footer {
  padding: 24 0;
}

ol {
  margin-left: 16px;
}
